<% include ./partials/header.ejs %>

<div class="jumbotron">
        <h1 class="display-5">BOOKS ARE HERE</h1>
        <p class="lead">good collection of books are here</p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
        <a class="btn btn-primary btn-lg main" href="/books" role="button">Let's Start</a>
      </div>

<% include ./partials/footer.ejs %>